{#
    Template Twig : Création d'un patient
    ------------------------------------
    Affiche le formulaire de création d'un patient.
    Utilisé par PatientController::new().
    Variables disponibles :
        - form : vue du formulaire Symfony
#}
{% extends 'base.html.twig' %}

{% block title %}Nouveau patient - {{ parent() }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">Nouveau patient</h1>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <a href="{{ path('app_patient_index') }}" class="btn btn-secondary mt-3">Annuler</a>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
